*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
/***** Top Header Section Start *****/
.top-bar {
    background: #4f5a63;
    color: #fff;
    font-size: 0.9rem;
    padding: 2px 0;
    transition: top 0.3s;
    display: block;
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: -70px;
}

.top-bar .contact-info {
    margin-right: 20px;
}


.top-bar ul {
    margin-bottom: 0;
}

.top-bar .contact-info a {
    font-size: 0.8rem;
}

.top-bar ul.social-custom {
    margin-left: 20px;
}

.top-bar a.login-btn i, .top-bar a.signup-btn i {
    margin-right: 10px;
}

.top-bar ul.social-custom a:hover {
    background: #4fbfa8;
    color: #fff;
}
.top-bar ul.social-custom a {
    text-decoration: none !important;
    font-size: 0.7rem;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #999;
    text-align: center;
    border-radius: 50%;
    margin: 0;
}
a:focus, a:hover {
    color: #348e7b;
    text-decoration: underline;
}
.top-bar a.login-btn, .top-bar a.signup-btn {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none !important;
    font-size: 0.75rem;
    font-weight: 700;
    margin-right: 10px;
}
@media (max-width: 576px){
    
}
/* Top Header Section End */


/***** Banar Section Start *****/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Chela+One');


.banar{
    background-image: url(../photos/banar4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    background-size: cover;
    background-position: bottom;
    width: auto;
    padding-bottom: 220px;
}

.logo{
    width:200px;
    height: 200px;
}
.logo-title{
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.top-title{
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	margin-top: 100px;
}
.top-title h2{
    font-family: fantasy;
    color: #ffffff;
    font-variant-caps: normal;
}

.button-bar{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}
.button-bar .button-1{
    width: 100px;
    margin-right: 10px;
}
.button-bar .button-1 a{
    width: 100%;
    background-color: rgb(238, 87, 106);
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0px;
    text-align: center;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button-bar .button-1 a:hover{
    color: black
}
.button-bar .button-2{
    width: 150px;
    margin-left: 10px;
    position: relative;
}
.button-bar .button-2 a{
    width: 100%;
    background-color: rgba(88, 92, 83, 0.164);
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0px;
    text-align: center;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(238, 87, 106);
    
}
.button-bar .button-2 span{
    color: white;
    z-index: 6;
    position: relative;
}
.button-bar .button-2 a::before{
    content: "";
    position: absolute;
    transition: 1s;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(238, 87, 106);
    border-radius: 5px;
}
.button-bar .button-2 a:hover::before{
    width: 100%;
    color: white;
    cursor: pointer;
}

.menu{
    padding: 50px;
    padding-top: 150px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #39fbaa26;
    height: auto;
    opacity: 1;
    position: relative;
    z-index: 5;
    transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    display: block;
}
.menu a:hover{
    text-decoration: none;
}
.menu li{
    list-style: none;
}
.menu li a{
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 25px;
    position: relative;
    text-transform: none;
}

.menu a:hover::before {
left: -20px;
width: 15px;
}

.menu a::before{
    background: #fff;
    bottom: 6px;
    content: "";
    display: block;
    left: 5px;
    height: 1px;
    position: absolute;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    width: 0;
}

.myheader{
	height: 200px;
	background-color: #ccc;
}
.myheader .menu{
    padding: 50px;
    padding-top:10px;
    height: 130px;
    position: fixed;
    top: 0;
    width: 30%;
}
.myheader .header-left{
    position: fixed;
    top: 0;
    background-color:#151724;
    width: 60%;
    padding: 14px;
    height: 130px;
}
.myheader .menu li a{
font-size: 15px;
}
.myheader .top-title{
    position: fixed;
    top: -120px;
    text-align: center;
    left: 30%;
}
.myheader .top-title h1{
	font-size:25px;
}	
.myheader .logo-title{
	font-size: 14px;
	letter-spacing: 2px;
}
/* EFFECTS
***************/
.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: text-shadow 1s linear;
       -moz-transition: text-shadow 1s linear;
         -o-transition: text-shadow 1s linear;
            transition: text-shadow 1s linear;
}

.glow.in {
  text-shadow: 
    0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8),
    0 0 0.5em rgba(255, 255, 255, 0.3);
}
.fade {
  opacity: 0;
    -webkit-transition: opacity 1s linear;
       -moz-transition: opacity 1s linear;
         -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
}
.fade.in {
  opacity: 1;
}
footer{
	margin-top:800px;
}
.mnu button{
    background-color: #f0f8ff00;
    outline: none;
    display: none;
}
.mnu button i{
    color: white;
    font-size: 35px;   
}


@media (max-width: 576px){
    .mnu{
        background-color: gray;
        position: fixed;
        top: 30px;
        right: 0px;
        width: 100%;
        z-index: 99999;
    }
    .mnu button{
        display: block;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu{
        display: none;
    }
    .menu.responsive {
        position: relative;
        display: block;
        padding: 50px;
        height: auto;
        float: left;
    }

    .menu li a{
        font-weight: 400;
        font-size: 20px;
        margin: 10px 0px;
        overflow: hidden;
        position: relative;
        transition: 1s;
    }

    .menu li a:hover::before {
        left: 0;
        width: 10px;
        height: 2px;
        transition: 1s;
    }

    .button-bar{
        display: block;
        padding-top: 60px;
    }
    .button-bar .button-1{
        width: 100%;
        margin-right: 0px;
    }
    .button-bar .button-2{
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
    .button-2 a:hover{
        color: #fc5f5f;
    }
}

/* Banar Secton End */

/******* About Us Start *******/

#about-section{
    /*background: linear-gradient(90deg, #414645, #545852, #62665a);*/
    /*background: linear-gradient(30deg, #d8b5b5, #ffe9e9, #c2c2c2);*/
    background: #6b6b6b;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
#about-section::before{
    content: "";
    position: absolute;
    border-right: 500px solid transparent;
    border-top: 500px solid currentColor;
    border-left: 500px solid transparent;
    width: 100%;
    height: 0;
    animation: abtStart 5s infinite;
    -webkit-animation: abtStart 5s infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
@keyframes abtStart{
    from {top: 0px;}
    to {top: 100px;}
}

#about-section>.container{
    position: relative;
}

#about-section>.container>h2{
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid white;
}

#about-section>.container>h3{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
/*
#about-pic{
    animation-name: slideLeft;
    animation-duration: 1s;

}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
*/

.ab-img{
    width: 400px;
    height: 400px;
    transition: 1s;
}

.ab-img:hover{
    transform: scale(1.1);
}

.txt-section{
    color: white;
    font-weight: bold;
    transition: 1s;
}

.txt-sec{
    transition: 1s;
}

.txt-section>.txt-sec:hover{
    transform: translateY(-6px);
}
@media (max-width: 576px){
    #about-section::before{
        border-right: 200px solid transparent;
        border-top: 400px solid currentColor;
        border-left: 200px solid transparent;
    }
    .txt-section>.txt-sec:hover{
        transform: none;
    }
    .ab-img:hover{
        transform: none;
    }
}

/* About Us End */

/***** My-Skills Section Start****/

#my-skills{
    /*background: linear-gradient(45deg, #414645, #545852, #62665a);*/
    /*background: linear-gradient(-30deg, #f1f1f1, #f8f8f8, #e0e0e0);*/
    background: #ffffff;
    padding-top: 250px;
    padding-bottom: 100px;
    height: auto;
}
.provide-section{
    border-right: 2px solid black;
}
.provide-section>h3{
    color: #000000;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.provide-section-item{
    padding: 10px;
    background-color: #1900a5;
    margin: 10px 0px;
    border-radius: 8px;
    transition: 1s;
    cursor: pointer;
    height: auto;
}

.provide-section-item:nth-child(1){
    transform: skewY(5deg);
}
.provide-section-item:nth-child(1):hover{
    transform: skewY(0deg);
}
.provide-section-item:nth-child(2){
    transform: skewY(-5deg);
}
.provide-section-item:nth-child(2):hover{
    transform: skewY(0deg);
}
.provide-section-item:nth-child(3){
    transform: skewY(5deg);
}
.provide-section-item:nth-child(3):hover{
    transform: skewY(0deg);
}
.provide-section-item:nth-child(4){
    transform: skewY(-5deg);
}
.provide-section-item:nth-child(4):hover{
    transform: skewY(0deg);
}
.p-s-i-p{
    width: 80px;
    height: 80px;
    border: none;
    box-shadow: 0px 0px 20px 0px #193031;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    background-color: #9c9c9c;
}
.p-s-i-p img{
    width: 100%;
    height: 100%;
}
.p-s-i-text{
    color: white;
}
.p-s-i-text h5{
    font-weight: 300;
    color: white;
    font-weight: bold;
}
.p-s-i-text p{
    font-weight: 100;
    font-family: fantasy;
}

.prgrs-section{
    color: white;
    border-bottom: 2px solid hotpink;
    padding-bottom: 100px;
}
.prgrs-section h3{
    color: #000000;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.progress-title{
    font-size: 15px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.progress{
    transition: 1s;
    font-weight: bold;
    height: 10px;
    border-radius: 50px;
    margin: 8px 0px;
    position: relative;
    overflow: visible;
}
.progress::before,
.progress::after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e9ecef;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress::after{
    border: 7px solid #e9ecef;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
    overflow: visible;
}
.progress .progress-value{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    font-size: inherit;
    font-weight: 700;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress.htm::before{
    border: 7px solid #0d6efd;
}
.progress .bg-primary .progress-value{
    border: 5px solid #0d6efd;
    color: #0d6efd;
}

.progress.css::before{
    border: 7px solid #198754;
}
.progress .bg-success .progress-value{
    border: 5px solid #198754;
    color: #198754;
}

.progress.js::before{
    border: 7px solid #0dcaf0;
}
.progress .bg-info .progress-value{
    border: 5px solid #0dcaf0;
    color: #0dcaf0;
}

.progress.jq::before{
    border: 7px solid #ffc107;
}
.progress .bg-warning .progress-value{
    border: 5px solid #ffc107;
    color: #ffc107;
}

.progress.bs::before{
    border: 7px solid #dc3545;
}
.progress .bg-danger .progress-value{
    border: 5px solid #dc3545;
    color: #dc3545;
}

.progress.wpss::before{
    border: 7px solid chocolate;
}
.progress .wp .progress-value{
    border: 5px solid chocolate;
    color: chocolate;
}


@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
.progress:hover{
    transform: scaleY(1.1);
}






/* My-Skills Section End */

/**** Service Section Start ****/

#service-section{
    /*background: linear-gradient(90deg, #414645, #545852, #62665a);*/
    background-image: url(../photos/servicss.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 100px;
}
#service-section>.container>h2{
    color: #efde21;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid #ff0813;
    text-shadow: 5px 3px 9px black;
    font-weight: bold;
}
#service-section>.container>.row>
.service-items>.card{
    background-color: #348e7beb;
    border-radius: 5px;
    color: #f1e9e9;
    text-align: center;
    margin: 10px;
    transition: 1s;
    box-shadow: 0px 8px 5px 3px #ececec80;
}
#service-section>.container>.row>
.service-items>.card:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: inset 0px -20px 20px 3px #ececec80;
}
#service-section>.container>.row>
.service-items>.card>
.card-body{
    text-align: center;
}
#service-section>.container>.row>
.service-items>.card>
.card-body>a>i{
    color: #ffc506;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    transition: 1s;
}
#service-section>.container>.row>
.service-items>.card>
.card-body>a>i:hover{
    color: greenyellow;
    cursor: pointer;
}
#service-section>.container>.row>
.service-items>.card>
.card-body>h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#service-section>.container>.row>
.service-items>.card>
.card-body>p{
    font-family: monospace;
}



/* Service Section End */

/***** Gallery Section Start *****/
#gallery-section{
    /*background: linear-gradient(90deg, #414645, #545852, #62665a);*/
    /*background: linear-gradient(-30deg, #d8b5b5, #ffe9e9, #c2c2c2);*/
    background: #f1f1f1;
    padding-top: 100px;
    padding-bottom: 100px;
}
#gallery-section>.container>h2{
    color: #000000;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.wrk-img{
    position: relative;
}
.wrk-img img{
    position: relative;
    cursor: pointer;
}
.wrk-img::before{
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #000000a1;
    position: absolute;
    transition: 0.5s;
}
.wrk-img:hover::before{
    height: 100%;
}


#myModal {
    position: fixed;
    display: none;
    background-color: gray;
    top: 42px;
    left: 0;
    z-index: 999;
    /*transform: translate(-50%, -50%);*/
  }
  #modal-content {
    margin: auto;
    display: block;
  }
  #caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  @media (max-width: 576px){
    #myModal {
        position: fixed;
        display: none;
        background-color: gray;
        top: 71px;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }
  }
/* Gallery Section End */


/* Team Section Start */
#team-section{
    /*background: linear-gradient(30deg, #d8b5b5, #ffe9e9, #c2c2c2);*/
    background: linear-gradient(30deg, #2e15ff, #8986b7, #00adff);
    padding-top: 100px;
    padding-bottom: 100px;
}
#team-section h2{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid #ffffff;
}
.testimonial {
    background: #ffffff;
    text-align: center;
    padding: 30px 30px 70px;
    margin: 0 15px 100px;
    position: relative;
    margin-top: 150px;
}

.testimonial:before,
.testimonial:after {
    content: "";
    border-top: 40px solid #ffffff;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial:after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .icon {
    display: inline-block;
    font-size: 80px;
    color: #000000;
    margin-bottom: 20px;
    opacity: 0.6;
}

.testimonial .description {
    font-size: 16px;
    color: #a80000;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
    letter-spacing: -1px;
}

.testimonial .testimonial-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.testimonial .pic {
    display: inline-block;
    border: 6px solid gray;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #daad86;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .title {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0 0 5px 0;
    background-color: burlywood;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: #ffffff;
}

.owl-theme .owl-controls {
    margin-top: 60px;
}

.owl-theme .owl-controls .owl-page span {
    width: 32px;
    height: 10px;
    background: rgb(247, 0, 0);
    border: 2px solid #ffffff;
    margin: 5px;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ffd9b8;
    border-color: #fff;
}

.pic img {
    width: 100px !important;
    height: 50px;
}
/* Team Section End */



/**** Footer Section Start ****/

#footer-section{
    /*background: linear-gradient(-30deg, #d8b5b5, #ffe9e9, #c2c2c2);*/
    background: #f1f1f1;
    text-align: center;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 100px;
}
#footer-section h2{
    color: #000000;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#footer-section .faq-img{
    width: 100%;
    height: auto;
}
#footer-section .row{
    margin-top: 5rem !important;
}
.faq-img img{
    width: 100%;
    height: 100%;
}

.page-creator{
    background-color: gray;
    text-align: center;
    color: white;
}

/* Footer Section End */

/**** Contact-Section Start ****/

#contact-section{
    /*background: linear-gradient(45deg, #414645, #545852, #62665a);*/
    /*background: linear-gradient(30deg, #d8b5b5, #ffe9e9, #c2c2c2);*/
    background-image: url(../photos/contact-us.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact{
    height: auto;
}
.contact>h2{
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 2px solid #ffffff;
}
#contact-section .col-md-3{
    background: linear-gradient(90deg, #414645, #545852, #62665a);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
    color: #88c6ff;

}
.contact-info h4{
    margin-bottom: 10%;
    color: white;
    font-weight: bold;
}
#contact-section .col-md-9{
    background: linear-gradient(45deg, #f3d9d900, #eadcdc85, #d6cece00);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 20px;
}
.contact-form button{
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
@media (max-width: 576px){
    #contact-section .col-md-3 {
        background: linear-gradient(90deg, #4146457a, #5458528f, #62665a40);
        padding: 2%;
        border-radius: 0px;
    }
}

/* Contact-Section End */


#jump-button{
    position: fixed;
    bottom: -500px;
    right: 0px;
    transition: 1s;
}
#jump-button button{
    background-color: #ff000094;
    border: none;
    outline: none;
    text-align: center;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    transition: 1s;
    border-radius: 100%;
}
#jump-button button:hover{
    background-color: black;
    color: white;
}
